.wrapper {
    max-width: 46rem;
    margin-inline: auto;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.taskStatus {
    display: flex;
    align-items: start;
    justify-content: space-between; 
    margin-bottom: 1rem;
    font-weight: bold;
}

.createdTasksLabel {
    color: var(--blue);
}


.tasksCountLabel{
    color: var(--purple);
}

.createdTasksLabel span, .tasksCountLabel span {
    color: var(--gray-100);
    background: var(--gray-500);
    padding: 0 0.5rem;
    border-radius: 8px;
}

.taskList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.tasksEmpty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: var(--gray-400) 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5rem 0;
}

.tasksEmpty span {
    color: var(--gray-300);
    font-weight: bold;
    margin-top: 1rem;
    line-height: 1.6

}

.tasksEmpty p {
    color: var(--gray-300);
    font-weight: normal;
    line-height: 1.6;
}


@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
}